<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Have fun!</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    {% block content %}{% endblock %}
  </div>
    <script src="{% static 'TweenLite.min.js' %}"></script>
    <script src="{% static 'rAF.js' %}"></script>
    <script src="{% static 'EasePack.min.js' %}"></script>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>