<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>
</head>
<body>
    <h1>Welcome to the Number Guessing Game!</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="guess" min="0" max="999" required>
        <button type="submit">Guess</button>
    </form>
</body>
</html>